body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('D:\landing page inhtml\assets\image.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(56, 62, 73, 0.8);;
    color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.auth-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: white;
    color: #282c34;
    border: none;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #61dafb;
}

.nav button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.main-content {
    padding: 20px;
    background-size: cover;
    background-position: center;
    color: rgb(124, 118, 118);
}

.search-features {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-features button {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.search-bar {
    position: relative;
    width: 80%;
    margin: 20px auto;
}

.search-bar input {
    width: 100%;
    padding: 10px 20px 10px 40px;
    border: 1px solid #ccc;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ccc;
}

.footer {
    padding: 20px;
    background-color: #282c34;
    color: white;
}

.about {
    text-align: left;
    margin-bottom: 20px;
}

.download-buttons button {
    margin: 10px 10px 0 0;
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    cursor: pointer;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-icons i {
    margin-right: 5px;
}
